  
  .image-block {
  position: relative;
  
  margin-left: -21.333333%;
  
}

  .temp-block {
    z-index: 2;
    margin-right: -21.333333%;
  }

.temp-wet { max-width: 340px;
      margin-left: 0px;
      margin-right: 0px;
    }
  

.image-today {
    width: 180px;

}
.weather-app-wrapper {
    width: 680px;
    margin: 30px auto;
    font-family:"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.weather-app {
  border: 1px solid rgb(212, 212, 212);  
  border-radius: 5px;
  padding: 5px 20px;
  font-family: 'Gloria Hallelujah', cursive;
  
}

.heding-block {
    font-family: 'Rubik Vinyl', cursive;
    font-size: 30px;
    color: rgb(141, 162, 202);
}


.week-forecast-block {
    font-family: 'Indie Flower', cursive;
}



.units {
    font-family: 'Rubik Vinyl', cursive;
    padding: 0;
    position: relative;
    top: -25px;
}

#temperature {
    font-family: 'Rubik Vinyl', cursive;
    font-size: 50px;
}
.btn {
    color: rgb(141, 162, 202);
    font-weight: 900;
    
}

.time-of-update {
    font-size: 10px;
    display: block;
    padding: 0;
    margin-top: -6px;
}

