li {
    list-style-type: none;
    padding: 10px;
    margin: 0px 10px;
    
  }

  ul li {
    display: inline; 
   }

   input:focus {
    border-color:#0d6efd;
  }
  

  .image-block {
  position: relative;
  
  margin-left: -28.333333%;
  
}

  .temp-block {
    z-index: 2;
    margin-right: -28.333333%;
  }

.temp-wet { max-width: 340px;
      margin-left: 0px;
      margin-right: 0px;
    }
  

.image-today {
    width: 220px;
}

.weather-app-wrapper {
    width: 680px;
    margin: 30px auto;
    font-family:"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.weather-app {
  border: 1px solid rgb(212, 212, 212);  
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 5px 20px;
  font-family: 'Indie Flower', cursive;
}

.next-corecast-wrapper {
  width: 320px;
  margin: 10px auto;
  

}

.next-corecast {
border: 1px solid rgb(212, 212, 212);  
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
border-radius: 5px;
padding: 5px 20px;
}


  

.heding-block {
    font-family: 'Rubik Vinyl', cursive;
    font-size: 30px;
    color: rgb(141, 162, 202);
}


.week-forecast-block {
    font-family: 'Indie Flower', cursive;
}



.units {
    font-family: 'Rubik Vinyl', cursive;
    padding: 0;
    position: relative;
    top: -25px;
}

#temperature {
    font-family: 'Rubik Vinyl', cursive;
    font-size: 50px;
}
.btn {
    color:#0d6efd;
    font-weight: 900;
    
}

.time-of-update {
    font-size: 10px;
    display: block;
    padding: 0;
    margin-top: -6px;
}

.weather-parametr-block {
  margin-top: 20px;
}

.city-name {
  font-size: 30px;
  color: #0d6efd;
  width: 800;
}

